body{
	background: url('../images/fondo.png') no-repeat 0 0 ;
	background-size: cover;
	font-family:'Conv_DK Lemon Yellow Sun',Sans-Serif;
}

.content{
	display: block;
    height: 302px;
    position: fixed;
    top: 350px;
    text-align: center;
    width: 100%;
    
}
#counter{
	display: block;
	background: url('../images/contenedor.png') no-repeat 0 0;
    background-size: contain;
    font-family:'Conv_DK Lemon Yellow Sun',Sans-Serif;
    font-size: 32px;
    height: 100%;
    line-height: 7;
    margin: auto;
    width: 40%;
}

@media only screen and (max-width: 980px) {

	.content{
		top: 280px;
	}

	#counter{
	    font-size: 28px;
	    line-height: 6;
	}

}

@media only screen and (max-width: 800px) {

	.content{
		top: 230px;
	}

	#counter{
		font-size: 23px;
		line-height: 6;
	}

}

@media only screen and (max-width: 500px) {

	.content{
		top: 140px;
	}

	#counter{
		font-size: 20px;
		line-height: 6;
	    width: 60%;
	}

}

@media only screen and (max-width: 360px) {

	.content{
		top: 100px;
	}

	#counter{
		font-size: 18px;
		line-height: 6;	 
		width: 70%;
	}

}